<html lang="pt-br"> 
<body>
    <form action="/produtos/cadastrar" method="POST">
        <label for="ID">ID:</label>
        <input type="text" id="id" name="id" required><br><br>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br><br>

        <label for="quantidade">Quantidade:</label>
        <input type="text" id="quantidade" name="quantidade" required><br><br>

        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" step="0.01" required><br><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>